*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    font-family: "Josefin Sans", serif;
    width: 100%;
    position: relative;
    height: 100vh;
}
button{
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}
input{
    border: none;
}

.cont_principal{
    background: url(./images/pattern-bg-mobile.png) no-repeat center center;
    background-size: cover;
    height: 300px;
}

.cont_principal .cont_contenido{
    
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding: 2em;
}
.cont_principal .cont_contenido h1{
    color: white;
    font-size: 24px;
    margin: 1em;
}
.cont_principal .cont_contenido .cont_busqueda{
    
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 2em;
    
}
.cont_principal .cont_contenido .cont_busqueda input{
    border-radius: 10px;
    padding: 15px 18px;
    font-size: 18px;
    width: 100%;
    
}

.cont_principal .cont_contenido .cont_busqueda input:focus {
    border: none; 
    outline: none; 
}
.cont_principal .cont_contenido .cont_busqueda button{
   background:  hsl(0, 0%, 17%);
    padding: 1.5em;
   color: aliceblue;
   border-radius: 0 10px 10px 0;
   font-size: 16px;
   font-weight: bold;

}
.cont_principal .cont_contenido .cont_busqueda button:hover{
    cursor: pointer;
 }
.cont_principal .cont_resultado{
    background: white;
    
    display: flex;
    padding: 1.5em;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.cont_principal .cont_resultado .card_resul{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    text-align: center;
}
.cont_principal .cont_resultado .card_resul p{
    color: hsl(0, 0%, 59%);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cont_principal .cont_resultado .card_resul h3{
    color: hsl(0, 0%, 17%);
    font-size: 22px;
}

#map{
    height: calc(100vh - 300px);
    z-index: 1;
}

@media (min-width: 1150px) {
    .cont_principal .cont_contenido h1{
        font-size: 32px;
    }
    .cont_principal .cont_contenido .cont_busqueda{
        width: 40%;
    }

    .cont_principal .cont_resultado{
        flex-direction: row;
    }
    .cont_principal .cont_resultado .card_resul{
    
       align-items: flex-start;
       border-left: 1px solid hsl(0, 0%, 59%);
       padding: 1em;
    }
    .cont_principal .cont_resultado .card_resul:first-of-type {
        border-left: none;
    }
    .cont_principal{
        background: url(./images/pattern-bg-desktop.png) no-repeat center center;
        background-size: cover;
        
    }
   
}